extends ./layout/resume-layout.jade
include ./mixins/util.jade

block education
  +section("education", true)
    each item in education
      li.timeline-item(class="education-" + item.type)
        h3.timeline-title
          time.education-time #{item.start} ~ #{item.end}
        dl.education-description.timeline-content
          dt.education-name= item.name
          dd.education-major= item.major + education_type[item.type]
          each honor in item.honor
            dd.education-honor!= highlight(honor)


block language
  +section("language", false)
    each lang in language
      +certificate(lang.certificate)
      ul.language-description
        each desc in lang.description
          li.language-desc-item= desc

block introduction
  +introSection("skills", true)
    - for(var i = 1; i < 2; i++)
      li.timeline-item(class="skills-" + skills[i].type)
        h3.timeline-title
          span.skills-type= skill_type[skills[i].type]
        +#{"skills_" + skills[i].type}(skills[i])

block experience
  +section("experience", true)
    - for(var i = 0; i < 2; i++)
      li.timeline-item(class="experience-" + experience[i].type)
        h3.timeline-title
          +#{"experience_title_" + experience[i].type}(experience[i])
        dl.experience-description.timeline-content
          +#{"experience_content_" + experience[i].type}(experience[i])


block experience2
  +section("experience", true)
    - for(var i = 2; i < 5; i++)
      li.timeline-item(class="experience-" + experience[i].type)
        h3.timeline-title
          +#{"experience_title_" + experience[i].type}(experience[i])
        dl.experience-description.timeline-content
          +#{"experience_content_" + experience[i].type}(experience[i])


block skills
  +section("skills", true)
    - for(var i = 0; i < 1; i++)
      li.timeline-item(class="skills-" + skills[i].type)
        h3.timeline-title
          span.skills-type= skill_type[skills[i].type]
        +#{"skills_" + skills[i].type}(skills[i])


block links
    ul.links
      each link in links
        li.link
          a(href=link.url)= link_type[link.type]

block repo
  p
    | This resume is generated with Gulp, Less and Jade by
    | #[a(href="https://github.com/joyeecheung/resume") Joyee Cheung&#39;s resume generator].
